# fly.toml app configuration file generated for protohackers-bhavya-crimson-water-1099 on 2024-10-27T11:48:29-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'protohackers-bhavya-crimson-water-1099'
primary_region = 'yyz'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = false
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 10000

  [[services.ports]]
    port = 10000

[[vm]]
  size = 'shared-cpu-1x'
